*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

body {
    text-align: center;
    font-family: sans-serif;
}

.head {
    display:flex;
    align-items: center;
    justify-content: space-between;
    height: 63px;

    background: #1500ff;
    position: fixed;
    width: 100%;

    z-index: 100;
}

.navbar {
    display: flex;
    margin-right: 10px;
}

.logo {
    margin-left: 30px;
}

.logo a {
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 20px;
}

.navbar a {
    display: block;
    padding: 20px 20px;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}

.navbar a:hover {
    background: #fff5f5;
}

.header {
    display: flex;
    justify-content:center;
    align-items: center;

}

.header {
    height: 70vh !important;
    background: url(img/titulo.jpg) no-repeat center;
    background-size: cover;
}

.title {
    margin-bottom: 40px;
    font-size: 60px;
    font-weight: 600;
    text-transform: uppercase;
    color: #ffffff;
}

p {
    margin-bottom: 50px;
    font-size: 18px;
    color: #ffffff;
    padding: 0 100px;
}

.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 40px;
    border: 2px solid #ffffff;
    color: #ffffff;
    text-decoration: none;
    background: #1500ff;
}

.btn:hover {
    background: none;
    
}

.btn-home {
    display: flex;
}

.btn-home a {
    margin: 0 10px;
}


.content {
    height: 130vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tipos {
    padding: 0px;
    background: #1500ff;
}

.box-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;

}

.box-container .box {
    height: 20rem;
    width: 27rem;
    background: #01054f;
    text-align: center;
    border-radius: 1rem;
    margin: 2rem;   
}

.box-container .box img {
    height: 7rem;
    width: 7rem;
    line-height: 7rem;
    text-align: center;
    border-radius: 50%;
    color: #000000;
    background: #ffffff;
    font-size: 2rem;
    margin: 1rem 0;

}

.box-container .box h3 {
    font-size: 20px;
    color: #1500ff;

}

.box-container .box p {
    padding: 0 15px;
    font-size: 16px;
}

.funcionamiento {
    background: #000000;
}

.beneficios {
    background: url(img/tarasdsdas.jpg) no-repeat center;
    background-attachment:fixed;
    background-size:contain;
    text-align: center;
}


.contact {
    padding-top: 20px;
    background: #980505;
    padding-bottom: 0;
}


@media (max-width: 768px) {

    .title {
        margin-bottom: 0;
        font-size: 40px;
    }

    .sau {
        height: 100vh;
    }

    .navbar {
        display: none;
    }
   
    
}
